* { box-sizing: border-box; padding: 0; margin: 0; color: #333 }

body {
  background: url("/images/45degreee_fabric.png");
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

// Form Styles
form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  height: 150px;
  border-radius: 5px;
  background: rgba(255, 255, 255, .4);

  h3 {
    margin-bottom: 10px;
  }
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 250px;
  
  &--input {
    border: none;
    border-bottom: 1px solid #aaa;
    width: 100%;
    background: transparent;
    margin: 10px;
  }
  
  &--input:focus {
    outline: none;
  }
  
  &--input:focus + &--placeholder &--placeholder-text,
  &--input:valid + &--placeholder &--placeholder-text{
    bottom: 20px;
    font-size: 12px;
  }
  
  &--input:focus + &--placeholder:after{
    width: 100%;
    left: 0;
  }
  
  &--placeholder {
    position: absolute;
    bottom: 2px;
    left: 0px;
    margin: 10px;
    pointer-events: none;
    width: 100%;
    
    &:after {
      content: "";
      width: 0;
      height: 100%;
      border-bottom: 2px solid #202F55;
      position: absolute;
      left: 50%;
      transition: 500ms width ease, 500ms left ease;
    }
    
    &-text {
      position: absolute;
      bottom: 2px;
      transition: 500ms bottom ease, 500ms font-size ease;
    }
  }
}

#four0four {
  background: red;
  color: white;
  height: 0;
  padding: 0px;
  border-radius: 5px;
  overflow: hidden;
  transition: 350ms all ease-in;
  
  &.show {
    height: 35px;
    padding: 10px;
  }
}

.clear {
  display: none !important;
  width: 0;
}

#profile {
  max-width: 1000px;
  background: rgba(255, 255, 255, .4);
  padding: 15px 25px;
  margin: 10px auto;
  display: flex;
  transition: 300ms width ease-in;

  .id {
    flex: 1;

    a {
      display: block;
      padding: 5px;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      margin: 5px 0;
      background: #007AFF;
      color: #fff;
      border: 5px solid #007AFF;
      transition: 250ms background-color ease-in, 500ms color ease-in;
    
      &:hover {
        background-color: #fff;
        color: #007AFF;
      }
    }

    &--login {
      padding-bottom: 10px;
    }

    &--image {
      max-width: 100%;
    }
  }

  .specs {
    flex: 2;

    &--social {
      display: flex;
      justify-content: space-evenly;

      span {
        margin: 0 2px;
        padding: 7px;
        background: aliceblue;
        border-radius: 5px;
      }
    }

    &--personal {
      border-radius: 5px;
      max-width: 90%;
      margin: 50px auto;

      p {
        padding: 5px;
        border: 1px solid #999;
      }
    }
  }
}

#repos {
  max-width: 1000px;
  background: rgba(255, 255, 255, .4);
  padding: 15px 25px;
  margin: 10px auto;
  transition: 300ms width ease-in;

  .list {
    list-style: none;

    &--item {
      padding: 10px;
      border: 1px solid #999;
      margin-top: 5px;
      display: flex;

      span {
        flex: 1;
        display: flex;
        
        a {
          text-decoration: none;
        }
        
        span {
          justify-content: space-evenly;
          margin: 0 5px;
        }
      }
    }
  }
}