* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.App {
  text-align: center;
}

// Nav
nav {
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
  align-items: center;
}

// Alert
.alert {
  padding: 10px;
  color: white;
  background: red;
  max-width: 550px;
  margin: 0 auto;
}

// Search
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 550px;
  margin: 0 auto;

  .username {
    border-bottom: 1px solid #333;
  }

  input {
    margin: 5px 0;
    padding: 5px;
    border: none;

    &:nth-child(2) {
      color: #eee;
      background-color: #3d3d51;
      border-radius: 2px;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

// Spinner
.spinner {
  margin: auto;
  display: block;
}

// User Grid
.user-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}

// User Item
.user-item {
  border: 1px solid #ddd;
  margin: 15px;
  padding: 15px;

  &--img-container {
    width: 100px;
    margin: 0 auto;

    &__img {
      width: 100%;
      border-radius: 50%;
    }
  }

  &--btn {
    margin: 10px 0px;
    padding: 10px;
    background-color: #eff3f6;
    color: #24292e;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}
